<section class="awards">
    <div class="uk-container">
        <h2 class="awards-title">{{ post.awards_title | e('esc_html') }}</h2>
        <div class="award-blurb">{{ post.awards_blurb | e('esc_html') }}</div>
        <div class="awards-logos uk-child-width-1-6@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1
        uk-grid-small"
             uk-grid>
            {% for item in post.get_field('awards_logos') %}
                {% set logo = TimberImage(item.logo) %}
                <img src="{{ logo | e('esc_url') }}"
                     alt="{{ logo.alt | e('esc_html') }}">
            {% endfor %}
        </div>
    </div>
</section>