// Name:            Lightbox
// Description:     Component to create an lightbox image gallery
//
// Component:       `uk-lightbox`
//
// Sub-objects:     `uk-lightbox-page`
//                  `uk-lightbox-item`
//                  `uk-lightbox-toolbar`
//                  `uk-lightbox-toolbar-icon`
//                  `uk-lightbox-button`
//                  `uk-lightbox-caption`
//                  `uk-lightbox-iframe`
//
// States:          `uk-open`
//
// ========================================================================


// Variables
// ========================================================================

$lightbox-z-index:                               $global-z-index + 10 ;
$lightbox-background:                            rgba(38, 48, 60,.97) ;

$lightbox-item-color:                            rgba(255,255,255,0.7) ;

$lightbox-toolbar-padding-vertical:              10px ;
$lightbox-toolbar-padding-horizontal:            10px ;
$lightbox-toolbar-background:                    rgba(0,0,0,0.3) ;
$lightbox-toolbar-color:                         rgba(255,255,255,0.7) ;

$lightbox-toolbar-icon-padding:                  5px ;
$lightbox-toolbar-icon-color:                    rgba(255,255,255,0.7) ;

$lightbox-toolbar-icon-hover-color:              #fff ;

$lightbox-button-size:                           50px ;
$lightbox-button-background:                     $lightbox-toolbar-background ;
$lightbox-button-color:                          rgba(255,255,255,0.7) ;

$lightbox-button-hover-color:                    #fff ;





// Hooks
// ========================================================================

@if(mixin-exists(hook-lightbox-misc)) {@include hook-lightbox-misc();}

// @mixin hook-lightbox(){}
// @mixin hook-lightbox-item(){}
// @mixin hook-lightbox-toolbar(){}
// @mixin hook-lightbox-toolbar-icon(){}
// @mixin hook-lightbox-toolbar-icon-hover(){}
// @mixin hook-lightbox-button(){}
// @mixin hook-lightbox-button-hover(){}
// @mixin hook-lightbox-misc(){}
