//
// Component: Modal
//
// ========================================================================


// Variables
// ========================================================================
$modal-z-index:                                  $global-z-index + 10 ;
$modal-background:                               rgba(0,0,0,0.9) ;

$modal-padding-horizontal:                       60px ;
$modal-padding-horizontal-s:                     $global-gutter ;
$modal-padding-horizontal-m:                     $global-medium-gutter ;
$modal-padding-vertical:                         $modal-padding-horizontal ;
$modal-padding-vertical-s:                       50px ;

$modal-dialog-width:                             960px;
$modal-dialog-background:                        $global-background ;

$modal-container-width:                          1200px ;

$modal-body-padding-horizontal:                  $global-gutter ;
$modal-body-padding-vertical:                    $global-gutter ;

$modal-header-padding-horizontal:                $global-gutter ;
$modal-header-padding-vertical:                  ($modal-header-padding-horizontal / 2) ;
$modal-header-background:                        $global-muted-background ;

$modal-footer-padding-horizontal:                $global-gutter ;
$modal-footer-padding-vertical:                  ($modal-footer-padding-horizontal / 2) ;
$modal-footer-background:                        $global-muted-background ;

$modal-title-font-size:                          $global-xlarge-font-size ;
$modal-title-line-height:                        1.3 ;

$modal-close-position:                           $global-small-margin ;
$modal-close-padding:                            5px ;

$modal-close-outside-position:                   0 ;
$modal-close-outside-translate:                  100% ;
$modal-close-outside-color:                      lighten($global-inverse-color, 20%) ;
$modal-close-outside-hover-color:                $global-inverse-color ;

//
// New
//

$modal-header-border-width:                     $global-border-width ;
$modal-header-border:                           $global-border ;

$modal-footer-border-width:                     $global-border-width ;
$modal-footer-border:                           $global-border ;

$modal-close-full-padding:                      $global-margin ;
$modal-close-full-background:                   $modal-dialog-background ;


// Component
// ========================================================================

// @mixin hook-modal(){}


// Dialog
// ========================================================================

// @mixin hook-modal-dialog(){}


// Full
// ========================================================================

// @mixin hook-modal-full(){}


// Sections
// ========================================================================



 @mixin hook-modal-body(){
   padding: 50px;
   border-radius: 3px;
 }




// Title
// ========================================================================

// @mixin hook-modal-title(){}


// Close
// ========================================================================

// @mixin hook-modal-close(){}

// @mixin hook-modal-close-hover(){}

// @mixin hook-modal-close-default(){}

// @mixin hook-modal-close-default-hover(){}

// @mixin hook-modal-close-outside(){}

// @mixin hook-modal-close-outside-hover(){}



// @mixin hook-modal-close-full-hover(){}


// Caption
// ========================================================================

// @mixin hook-modal-caption(){}


// Miscellaneous
// ========================================================================

// @mixin hook-modal-misc(){}