<section class="fat-footer" style="background: url({{ TimberImage(options.footer_bg) | e('esc_url') }}) no-repeat; -webkit-background-size:cover ;background-size: cover;">
    <div class="uk-container uk-container-center">
        <h3 class="numbers-title uk-text-center">{{ options.numbers_title }}</h3>
        <div class="uk-grid-divider uk-child-width-1-4@m" uk-grid>
            {% for item in options.numbers %}
                <div class="number uk-text-center">
                    <div class="first-number">{{ item.first_number | e('esc_html') }}</div>
                    <div class="first-blurb">{{ item.first_blurb | e('esc_html') }}</div>
                    <div class="spacer"></div>
                    <div class="second-number">{{ item.second_number | e('esc_html') }}</div>
                    <div class="second-blurb">{{ item.second_blurb | e('esc_html') }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div class="cta">
    <div class="uk-container uk-container-center uk-flex uk-flex-between uk-flex-wrap uk-flex-middle">
       <div class="cta-title">FIND OUT MORE ABOUT OUR INVESTMENT VEHICLES</div>
        <a href="/investments"
           class="uk-button uk-button-default">CLICK HERE TO READ MORE
        </a>
        
    </div>
</div>