<section class="key-parties uk-child-width-1-2@m uk-margin-large-bottom" uk-grid>
    {% for item in post.get_field('key_parties') %}
        {% set logo = TimberImage(item.logo) %}
        <div class="key-party-entry">
            <div class="key-party-logo-title-wrap uk-flex uk-flex-between ">
                <h2 class="key-party-title">{{ item.title | e('esc_html') }}</h2>
                <div class="key-party-logo">
                    <img src="{{ logo | e('esc_url') }}" alt="{{ logo.alt | e('esc_html') }}" >
                </div>
            </div>
            <h3 class="key-party-subtitle">{{ item.subtitle | e('esc_html') }}</h3>
            <p>{{ item.blurb | e('esc_html') }}</p>
            <hr>
        </div>

        
    {% endfor %}
</section>