<section class="videos uk-child-width-1-3@m uk-margin-large-bottom" uk-grid uk-lightbox>
    {% for item in post.get_field('videos') %}
        <div class="video-entry">
            {% set img = TimberImage(item.image) %}
            <a href="{{ item.video_url | e('esc_url') }}"><img src="{{ img | e('esc_url') }}"
                                                               alt="{{ img.alt | e('esc_html') }}"></a>
            <h2 class="entry-title"><a href="{{ item.video_url | e('esc_url') }}">{{ item.title | e('esc_html') }}</a></h2>
            <p>{{ item.blurb | e('esc_html') }}</p>
            <a href="{{ item.video_url | e('esc_url') }}"
               class="uk-button uk-button-default">Watch Video</a>

        </div>
    {% endfor %}


</section>