/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  clear: both;
  padding-top: 40px;
  background-color: $dark-gray;
}

.footer-widgets,
.footer-widgets a {
  color: $medium-gray;
}

.footer-widgets input {
  border: 1px solid $dark-gray;
}

.footer-widgets a.button,
.footer-widgets a:hover {
  color: $white;
}

.footer-widgets li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted lighten($dark-gray, 30%);
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.flexible-widgets {
  &.uneven {
    .widget:last-child {
      width: 100%;
    }
  }
}

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background: url('assets/images/footer-bg.png');
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 100px 0;
  color: $white;
  .textwidget {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;

  }
  .simple-social-icons {
    ul li a {
      color: #fff !important;
      background: transparent !important;
      &:hover{
        background: transparent !important;
      }
    }
    width: 260px;
    margin: 0 auto 24px;
    border-bottom:1px solid rgba(255,255,255, .45);
    padding-bottom: 10px;
  }
  .widget_nav_menu{
  border-bottom: 1px solid rgba(255,255,255, .45);
    padding-bottom: 30px;
  }
  .menu{
    li{
      display: inline;
      a{
        font-size: 12px;
        padding: 10px 15px;
        text-transform: uppercase;
        color:$white;
        font-weight: 300;
        letter-spacing:2px;
        line-height: 1.5;
        &:hover{
          color:$accent-color;
        }
      }
    }
  }
}

.site-footer p {
  margin-bottom: 0;
  line-height: 1.5;
}
.fat-footer{
  padding: 150px 0;
  color: #dbdbdb;
  .uk-container{
    max-width: 1000px;
  }
  .spacer{
    width: 100px;
    background:rgba(255,255,255,.4);
    margin: 35px auto;
    height: 1px;

  }
}
.number{
  padding-top: 20px;
  padding-bottom: 20px;
}
.numbers-title{
  color:#dbdbdb;
  font-size:30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing:3px;
  padding-bottom: 40px;

}
.first-number,
.second-number{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 30px;
}

.first-blurb,
.second-blurb{
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing:2px;
  font-weight: 300;
}

.cta{
  background: #3A3E41;
  color:$white;
  padding: 40px 0;
  line-height: 1;
  font-weight: 300;
  font-size: 16px;
  letter-spacing:2px;
  .uk-button{
    border:1px solid $white;
    color:$white;
    @include transition();
    &:hover{
      background:$dark-blue;
      border-color:$dark-blue;
    }
  }

    .cta-title{
      @include max-screen($tablet) {
        text-align: center;
        margin: 0 auto 20px;
        line-height: 1.5;
      }
    }

  .uk-button{
    @include max-screen($tablet){
      margin: 0 auto;
    }
  }



}





