/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  @include max-screen($tablet) {
    padding: 0;
  }

  min-height: 100px;
  background-color: $t-blue;
  .title-area {
    @include max-screen($laptop) {
      text-align: center;
    }
  }
}

.site-header > .wrap {
  // 	@include susy-media( $laptop) {
  // 		padding: 40px 0;
  // 	}

  padding: 15px 0;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
  @include min-screen($laptop) {
    width: 300px;
  }
  @include min-screen($desktop) {
    width: 360px;
  }

  float: left;
  width: 100%;
  margin-top: 14px;
}

.header-full-width .title-area {
  width: 100%;
}

.site-title {
  @include max-screen($laptop) {
    text-align: center;
  }

  font-size: $global-medium-font-size;
  font-weight:400;
  line-height: 1.5;
  text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
  color: $dark-gray;
}

.header-image .site-title > a {
  float: left;
  width: 100%;
  min-height: 54px;
  background: url(../images/logo.png) no-repeat left;
}

.site-description {
  @include max-screen($laptop) {
    text-align: center;
  }

  font-size: rem(16);
  font-weight: 400;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;
  margin-top: 0;
}

.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px;
}

.header-image .title-area {
  @include max-screen($laptop) {
    background-position: center top;
  }
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  @include min-screen($laptop) {
    width: 620px;
  }
  @include min-screen($desktop) {
    width: 800px;
  }

  float: right;
  width: 100%;
  text-align: right;
}

.site-header .search-form {
  @include max-screen($laptop) {
    float: none;
  }
  @include max-screen($tablet) {
    margin: 16px auto;
    text-align: center;
  }
}

/* ## Top bar
--------------------------------------------- */
#top-bar{
  background: $white;
  padding: 29px 0;
}
