/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
  background-color: $white;

  margin-bottom: 40px;
  @include min-screen($tablet) {
//     padding: 50px 60px;

  }
}

.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  color: $light-gray;
  background-color: $dark-gray;
}
.more-link{
  width: 170px;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
  margin-bottom: 0;
  font-size: 16px;
}

.entry-header .entry-meta {
  margin-bottom: 24px;
}

// featured image without margings

.entry-header {
  .featured-img {
    margin: -50px -60px 20px;
  }
}

.entry-footer .entry-meta {
  padding-top: 24px;
  border-top: 2px solid $light;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  margin: 0 6px 0 2px;
  content: "\2014";
}

/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination li {
  display: inline;
}

.archive-pagination li a {
  @include transition;
  @include max-screen($tablet) {
    margin-bottom: 4px;
  }

  display: inline-block;
  padding: 8px 12px;
  color: $white;
  background-color: $dark-gray;
  font-size: 16px;
  cursor: pointer;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
  background-color: $primary-color;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 40px;
  background-color: $white;
}

.comment-respond,
.entry-pings {
  @include min-screen($tablet) {
    padding: 40px 40px 16px;
  }

  padding: 0;
}

.entry-comments {
  @include min-screen($tablet) {
    padding: 40px;
  }

  padding: 0;
}

.comment-header {
  font-size: 16px;
}

li.comment {
  border: 2px solid $white;
  border-right: none;
  background-color: $base-body-background;
}

.comment-content {
  clear: both;
}

.comment-list li {
  margin-top: 24px;
  padding: 32px;
}

.comment-list li li {
  margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.entry-comments .comment-author {
  margin-bottom: 0;
}

.entry-pings .reply {
  display: none;
}

.form-allowed-tags {
  padding: 24px;
  background-color: $base-body-background;
  font-size: 16px;
}


