.benefits{
  padding: 80px 0;
  color: $white;
  text-align: center;
  h2,h3{
    color:$white;
  }
  h3{
    line-height: 0;
  }
  .uk-container{
    max-width: 950px;
  }
  .benefits-title{
    margin-bottom: 50px;
  }
}