.investment-vehicles {
  color: $white;
  h2, h3, a {
    color: $white;
  }
  .big-block {
    background: #191e22;
    padding: 55px 80px;
    text-align: center;
    p{
      max-width: 960px;
      margin: 24px auto;

    }
    h2, .uk-h1{
      font-weight: 300;
    }
  }
  .small-block {
    padding: 100px 50px;
    li {
      list-style-type: disc;
    }
    &:nth-child(1) {
      background: #23292f;
    }
    &:nth-child(2) {
      background: #2c343c;
    }
    &:nth-child(3) {
      background: #333b43;
    }
  }
  .uk-button {
    border: 1px solid $white;
    margin-top: 20px;
    &:hover{
      border-color: $black;
    }
  }
}